.content {
  display: flex;
}
.profile {
  /* position: relative; */
  background-image: url(../../assets/imgs/man.png);
  background-repeat: no-repeat;
  width: 54vw;
  height: 77vh;
  position: relative;
  bottom: -34px;
  z-index: -50;
  border-radius: 242px 15px 0;
  background-size: 70%;
  margin: auto;
  left: 32px;
}
@media (max-width: 768px) {
  .profile {
    width: 100%;
    left: 50px;
    top: 10px;
  }
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 991px) {
  .content {
    flex-direction: column;
  }
}

.home h5 {
  bottom: 180px;
  width: 400px;
  right: 200px;
  color: white;
  font-size: 23px;
}
@media (max-width: 767px) {
  .home h5 {
    left: 0;
    padding: 0 20px;
    font-size: 15px;
  }
}
.home .name {
  color: var(--main-color);
  padding: 10px 0;
}

.react-typewriter-text-wrap {
  position: absolute;
  bottom: 150px;
  right: 130px;
}
@media (max-width: 767px) {
  .react-typewriter-text-wrap {
    font-size: 12px;
    padding: 5px 16px;
  }
}
