.header {
  padding: 30px 15px;
}

.logo {
  width: 150px;
  font-size: 16px;
  line-height: 2.5;
  font-weight: 600;
  transition: 0.3s;
}

.navbar-toggler:focus {
  box-shadow: none !important;
  outline: #eee 1px;
}

.navbar {
  padding: 0 50px;
  z-index: 1;
}

@media (max-width: 767px) {
  .header {
    padding: 0;
  }
  .navbar {
    padding: 0 5px;
  }
}

.navbar li {
  margin-left: 40px;
}

.navbar a {
  color: #eee;
  transition: 0.3s;
  font-size: 1em;
  line-height: 2.5;
  font-weight: 600;
  opacity: 0.5;
  z-index: 2;
}

.navbar a:hover {
  color: white;
  opacity: 1;
}

a.nav-link.active {
  color: var(--main-color);
}
